@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html
{
    scroll-behavior: smooth;
}

body
{
    background: #2f302f;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.slide
{
    height: 100vh;
}

.slide a
{   
    color: #fff;
    text-decoration: none;
}

.slide a:visited
{
    color: #fff;
}

#welcome h1
{
    font-size: 8.25vh;
    text-align: center;
    margin-top: 5.16vh;
    margin-bottom: 2.06vh;
}

#welcome h2
{
    font-size: 5.16vh;
    text-align: center;
    margin-top: 3.090vh;
    margin-bottom: 3.090vh;
}

#welcome h1 span
{
    color: #eb34ae;
}
.btn
{
    position: relative;
    display: inline-block;
    padding: 1.03vh 3.09vh;
    background: #eb34ae;
    text-decoration: none;
    color: #fff;
}

#agenda
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#agenda.slide

{
    display: flex;
    flex-direction: column;
}

#agenda.slide .nav .btn
{
    width: 31.25vw;
    text-align: center;
}


#agenda.slide .content
{
    width: 90%;
    display: flex;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 8.33vw;
    padding-right: 8.33vw;
}

#agenda.slide .content .mainbox
{
    
    width: 26.04vw;
    height:  61.91vh;
    display: flex;
    position: relative;
    text-align: center;
    border-radius: 20px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    background: #a8aaad;
    flex-direction: column;
    color: black;
}

#agenda.slide .content .mainbox h1
{
    color: #eb34ae;
}

#agenda.slide .content .mainbox ul
{
    text-align: left;
    margin-top: 2.06vh;
    margin-left: 2.6vw;
    font-size: 1.85vh;
    list-style-type: circle;
}

#wybor
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide .content
{
    width: 90%;
    display: flex;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 8.33vw;
    padding-right: 8.33vw;
}

.slide .content a .mainbox
{
    
    width: 26.04vw;
    height: 61.91vh;
    display: flex;
    position: relative;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background: #a8aaad;
    flex-direction: column;
    color: black;
}

.slide .content a .mainbox:hover{

box-shadow: 0 0px 1.54vh #eb34ae;
}


.smalllogo img{
    margin-top: 5.15vh;
    height: 8.25vh;
    width: auto;
}

#przegladarka {
    height: auto;
}

#przegladarka h1{
    font-size: 4.127vh;
    text-align: center;
    margin-top: 8.25vh;
    margin-bottom: 2.06vh;
}

#przegladarka .content
{   
    height: auto;
    position: relative;
    width: 100%;
    padding-top: 5.159vh;
    padding-left: 5.208vw;
    padding-right: 5.208vw;
}
#przegladarka .content .mainbox
{
    width: 83.33vw;
    height: auto;
    display: flex;
    position: relative;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background: #a8aaad;
    flex-direction: column;
    color: black;
}

#przegladarka .content .mainbox .step
{
    display: flex;
    flex-direction: column;
    width: 72.916vw;
    align-items: center;
}


#przegladarka .content .mainbox .step img
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 46.875vw;
    margin-top: 5.159vh;
    margin-bottom: 2.063vh;
}

#przegladarka .content .mainbox .step h2
{
    color: #eb34ae;
    font-size: 4.127vh;
}

#przegladarka .content .mainbox .step h3
{   
    font-size: 2.58vh;
    text-align: justify;
    padding-left: 1.04vw;
    padding-right: 1.04vw;
    padding-top: 1.03vh;
}

#aplikacja
{
    margin-top:  20.64vh;
    height: auto;
}

#aplikacja h1{
    font-size: 4.127vh;
    text-align: center;
    margin-top: 8.255vh;
    margin-bottom: 2.06vh;
}

#aplikacja .content
{   
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    width: 100%;
    padding-top: 5.16vh;
    padding-left: 5.208vw;
    padding-right: 5.208vw;
}
#aplikacja .content .mainbox
{
    width: 26.04vw;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background: #a8aaad;
    flex-direction: column;
    color: black;
}

#aplikacja .content .mainbox .step
{
    display: flex;
    flex-direction: column;
    width: 20.833vw;
    align-items: center;
}

#aplikacja .content .mainbox .step img
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 15.625vw;
    margin-top: 1.03vh;
    margin-bottom: 2.06vh;
}

#aplikacja .content .mainbox .step h2
{
    color: #eb34ae;
    font-size: 2.373vh;
}

#aplikacja .content .mainbox .step h3
{   
    font-size: 1.857vh;
    text-align: justify;
    padding-left: 1.04vw;
    padding-right: 1.04vw;
    padding-top: 1.03vh;
    margin-bottom: 2.06vh;
}

@media (min-width: 500px) and (max-width: 992px)
{
    body{
        display: flex;
        flex-direction: column;
    }

    #welcome h1
    {
        font-size: 5.55vh;
        text-align: center;
        margin-top: 3.16vh;
        margin-bottom: 1.06vh;
    }

    #welcome h2
    {
        font-size: 4.16vh;
        text-align: center;
        margin-top: 3.55vh;
        margin-bottom: 1.15vh;
    }

    #agenda
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

    #agenda.slide .nav .btn
    {
        width: 70.25vw;
        text-align: center;
    }


    #agenda.slide .content
    {
        width: 100%;
        display: flex;
        height: 80vh;
        justify-content: space-between;
        align-items: center;
        padding-left: 5.33vw;
        padding-right: 5.33vw;
    }

    #agenda.slide .content .mainbox
    {
        
        width: 37.04vw;
        height:  61.91vh;
        display: flex;
        position: relative;
        text-align: center;
        border-radius: 20px;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        background: #a8aaad;
        flex-direction: column;
        color: black;
    }

    #agenda.slide .content .mainbox h1
    {
        color: #eb34ae;
        font-size: 4.55vh;
    }

    #agenda.slide .content .mainbox h2
    {
        font-size: 3.15vh;
    }

    #agenda.slide .content .mainbox ul
    {
        text-align: left;
        margin-top: 2.06vh;
        margin-left: 3.6vw;
        font-size: 2.15vh;
        list-style-type: circle;
    }

        .slide .content
    {
        width: 100%;
        display: flex;
        height: 80vh;
        justify-content: space-between;
        align-items: center;
        padding-left: 5.33vw;
        padding-right: 5.33vw;
    }

    .slide .content a .mainbox
    {
        
        width: 37.04vw;
        height:  61.91vh;
        display: flex;
        position: relative;
        text-align: center;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        background: #a8aaad;
        flex-direction: column;
        color: black;
    }

    .slide .content a .mainbox:hover{

    box-shadow: 0 0px 1.54vh #eb34ae;
    }

    .slide .content a .mainbox h1
    {
        font-size: 3.15vh;
    }


    .smalllogo img{
        margin-top: 5.15vh;
        height: 8.25vh;
        width: auto;
    }

    #aplikacja .content
    {   
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        padding-top: 5.16vh;
        padding-left: 5.208vw;
        padding-right: 5.208vw;
    }

    #aplikacja .content .mainbox
    {
        width: 83.33vw;
        height: auto;
        display: flex;
        position: relative;
        text-align: center;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        background: #a8aaad;
        flex-direction: column;
        color: black;
        margin-bottom: 4vh;
    }

    #aplikacja .content .mainbox .step
    {
        display: flex;
        flex-direction: column;
        width: 72.916vw;
        align-items: center;
    }


    #aplikacja .content .mainbox .step img
    {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 46.875vw;
        margin-top: 5.159vh;
        margin-bottom: 2.063vh;
    }

    #aplikacja .content .mainbox .step h2
    {
        color: #eb34ae;
        font-size: 4.127vh;
    }

    #aplikacja .content .mainbox .step h3
    {   
        font-size: 2.58vh;
        text-align: justify;
        padding-left: 1.04vw;
        padding-right: 1.04vw;
        padding-top: 1.03vh;
    }
}

@media (max-width: 480px)
{
    #agenda.slide .content .mainbox h1
    {
        color: #eb34ae;
        font-size: 2.75vh;
    }

    #agenda.slide .content .mainbox h2
    {
        font-size: 1.95vh;
    }

    #agenda.slide .content .mainbox ul
    {
        text-align: left;
        margin-top: 2.06vh;
        margin-left: 3.6vw;
        font-size: 1.35vh;
        list-style-type: circle;
    }

    .slide .content a .mainbox h1
    {
        font-size: 2.15vh;
    }



}